on:
  workflow_call:
    inputs:
      image-suffix:
        type: string
        description: The suffix of the image, e.g. ghcr.io/org/<suffix>
      image-tags:
        default: |
          type=schedule,pattern=weekly
          type=schedule,pattern=weekly-{{date 'YYYYMMDD'}}
          type=ref,event=branch
          type=ref,event=tag
          type=ref,event=pr
          type=sha,prefix=sha-,format=short
          type=raw,value=latest,enable={{is_default_branch}}
        type: string
        description: Zero or many tags to use. Different tags should be separated by new lines. See https://github.com/docker/metadata-action#tags-input
      push-image:
        type: boolean
        default: true
        description: Set to true if this action should attempt to push/cache the build image.
      build-context:
        type: string
        description: The build context to use for the build. See https://github.com/docker/build-push-action#usage
      build-file:
        type: string
        description: The build file to use for the build. See https://github.com/docker/build-push-action#inputs
      build-args:
        type: string
        description: The build args to use for the build. See https://github.com/docker/build-push-action#inputs
      build-target:
        type: string
        description: The build target to use for the build. See https://github.com/docker/build-push-action#inputs
      build-always-pull:
        type: boolean
        default: true
        description: If the build should always pull referenced images. See https://github.com/docker/build-push-action#inputs
      no-cache:
        type: boolean
        default: false
        description: If the build should always pull referenced images. See https://github.com/docker/build-push-action#inputs

jobs:
  publish-github:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    env:
      IMAGE: ghcr.io/${{ github.repository }}${{ inputs.image-suffix && format('/{0}', inputs.image-suffix) || ''}}
    steps:
      - uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349 # v3.7.1
        with:
          install: true
          version: latest
      - uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/metadata-action@369eb591f429131d6889c46b94e711f089e6ca96 # v5.6.1
        id: meta
        with:
          images: ${{ env.IMAGE }}
          tags: ${{ inputs.image-tags }}
      - uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75 # v6.9.0
        id: build
        with:
          file: ${{ inputs.build-file }}
          context: ${{ inputs.build-context }}
          push: ${{ inputs.push-image }}
          pull: ${{ inputs.build-always-pull }}
          target: ${{ inputs.build-target }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: ${{ inputs.build-args }}
          no-cache: ${{ inputs.no-cache }}
